<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="inriver.url" value="https://remoting.productmarketingcloud.com/"/>
		<!--TEST ENV -->
		<add key="inriver.apikey" value="ad320e0b7fa85b7419c0f71c5085f53c"/>
		<!--PROD ENV -->
		<!--<add key="inriver.apikey" value=""/>-->
	</appSettings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>